In [2]:
import pandas as pd
import json

In [3]:
df_redefine = pd.read_csv('./raw_data/ariel_project_data_1Kdays.csv')

In [4]:
df_redefine['other_contracts'] = df_redefine['other_contracts'].apply(lambda x: x.replace("'",'"'))
df_redefine['other_contracts'] = df_redefine['other_contracts'].apply(lambda x: json.loads(x))

In [6]:
def parse_contracts(obj):
    x=[]
    for address in obj:
        y = address['smartContract']['address']['address']
        x.append(y)
    return x
  
df_redefine['other_created_address'] = df_redefine['other_contracts'].apply(lambda x: parse_contracts(x))

In [14]:
def parse_date(obj):
    addreses=[]
    dates =[]
    for address in obj:
        address = address['smartContract']['address']['address']
        date = address['date']['date']
        addreses.append(address)
        dates.append(date)
    return addreses, dates

df_contract_creation_date = pd.DataFrame()
df_contract_creation_date[['address', 'date']] = df_redefine['other_contracts'].apply(lambda x: parse_date(x))

TypeError: string indices must be integers, not 'str'

In [7]:
df_redefine.columns

Index(['Unnamed: 0', 'token_address', 'project_name', 'code_repo',
       'token_creator', 'total_tvl', 'other_contracts',
       'other_created_address', 'other_address_creation_date'],
      dtype='object')

In [8]:
df_redefine_expanded = df_redefine.loc[:,['token_creator','other_created_address','project_name','other_address_creation_date']]

In [9]:
df_redefine_expanded = df_redefine_expanded.explode('other_created_address')

In [10]:
df_redefine_expanded.reset_index(inplace=True)
df_redefine_expanded.drop('index',axis=1, inplace=True)

In [11]:
df_redefine_expanded

,token_creator,other_created_address,project_name,other_address_creation_date
0,0x78655080b65f42E2ceE5FA5673689CC44D4E1cFC,0xb83e7f1b67d9e57faaa82452ddea2ec9db54f2e8,Matic,"[2022-09-05, 2021-09-10, 2021-02-28, 2021-02-2..."
1,0x78655080b65f42E2ceE5FA5673689CC44D4E1cFC,0x4c37c126eac3baaa98e38eae05215c522e6ca817,Matic,"[2022-09-05, 2021-09-10, 2021-02-28, 2021-02-2..."
2,0x78655080b65f42E2ceE5FA5673689CC44D4E1cFC,0x185486869e615f5a5644991a491212582caa08fb,Matic,"[2022-09-05, 2021-09-10, 2021-02-28, 2021-02-2..."
3,0x78655080b65f42E2ceE5FA5673689CC44D4E1cFC,0x4a5020dc88541c4e0ed19fd7e1da2f6722012c56,Matic,"[2022-09-05, 2021-09-10, 2021-02-28, 2021-02-2..."
4,0x78655080b65f42E2ceE5FA5673689CC44D4E1cFC,0x40730f34668afcb3884f050cbc3d376a444bbe44,Matic,"[2022-09-05, 2021-09-10, 2021-02-28, 2021-02-2..."
...,...,...,...,...
15467,0x8a2B212cA369f4893F298dD0C4aebE0E75C8396e,0x60c6b5dc066e33801f2d9f2830595490a3086b4e,Dogs Of Elon,"[2022-05-25, 2021-11-15, 2021-11-10, 2021-11-0..."
15468,0x8a2B212cA369f4893F298dD0C4aebE0E75C8396e,0x3c40601f73fbf50b81a72edbf2786f14ebb7371b,Dogs Of Elon,"[2022-05-25, 2021-11-15, 2021-11-10, 2021-11-0..."
15469,0x8a2B212cA369f4893F298dD0C4aebE0E75C8396e,0xbef1b61dc62b82659f102a332e1276e67371ae6e,Dogs Of Elon,"[2022-05-25, 2021-11-15, 2021-11-10, 2021-11-0..."
15470,0x8a2B212cA369f4893F298dD0C4aebE0E75C8396e,0xf8e9f10c22840b613cda05a0c5fdb59a4d6cd7ef,Dogs Of Elon,"[2022-05-25, 2021-11-15, 2021-11-10, 2021-11-0..."
15471,0x8a2B212cA369f4893F298dD0C4aebE0E75C8396e,0xd8cdb4b17a741dc7c6a57a650974cd2eba544ff7,Dogs Of Elon,"[2022-05-25, 2021-11-15, 2021-11-10, 2021-11-0..."

In [ ]:
df_redefine_expanded.to_csv('./raw_data/expanded_redefine_data.csv')